@import '~antd/dist/antd.dark.min.css';
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&family=Roboto+Mono:wght@100;300;400;500;700&family=Roboto:wght@100;300;400;500;700&display=swap');
@import "variables";

h1, h2, h3, h4, h5, h6 {
  font-family: $title-font;
}

p, span, a {
  font-family: $text-font;
}

body {
  background-color: $background-color;
}

.user-data-top-container {
  a {
    color: $text-color;

    &:hover {
      text-decoration: underline;
    }
  }
}
