.container {
    .buta-home-container {
        .title {
            text-align: center;
        }

        .buta-details {
            
        }   
        
        .buta-features {
            display: flex;
            flex-direction: column;
        }
    }
}