.container {
    .server-modify-title {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .server-modify-container {
        min-width: 800px;
        max-width: 800px;

        .swear-filter-control {
            display: flex;
            flex-direction: column;

            .swear-filter-message {
                .swear-filter-input {
                    max-width: 600px;
                }
            }

            .swear-filter-child {
                margin-top: 2rem;
            }
        }
        
        .buta-role-set {
            display: flex;
            flex-direction: row;
            gap: 2rem;
        }
    }
}
