.container {
  /**
  A singular blog viewer.
   */
  .blog-viewer-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    /**
    Footer to blog viewer.
     */
    .blog-viewer-footer {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      min-width: 16vw;
      margin-top: 4rem;
    }

    /**
    Body to blog viewer.
     */
    .blog-viewer-body {
      max-width: 850px;
      padding-top: 4rem;
    }
  }

  /**
  A multiple blog container.
   */
  .blog-container {
    display: flex;
    flex-direction: column-reverse;

    /**
    An individual blog.
     */
    .blog {
      min-width: 300px;
      max-width: 600px;

      /**
      Blog's body.
       */
      .blog-body {
        margin-top: 2rem;
        margin-bottom: 2rem;
      }

      /**
      Blog's header.
       */
      .blog-header {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        /**
        Blog subtitle.
         */
        .blog-subtitle {
          font-weight: normal;
          font-size: 12px;
          margin-top: -1.5rem;
        }
      }
    }
  }

  /**
  Blog tags.
   */
  .site-tag-plus {
    background: #1f1f1f;
    border-style: dashed;
  }

  .edit-tag {
    user-select: none;
  }

  .tag-input {
    width: 78px;
    margin-right: 8px;
    vertical-align: top;
  }
}
