@import "../variables";

.container {
  .motd-history-container {
    display: flex;
    flex-direction: column-reverse;

    .selected {
      transition: background-color 0.5s ease-in;
      background-color: #131313;

      h2 {
        transition: font-size 0.5s ease-in;
        font-size: 2em;
      }

      p {
        transition: font-size 0.5s ease-in;
        font-size: 16px;
      }
    }

    .unselected {
      transition: background-color 0.5s ease-out;
      background-color: $background-color;

      h2 {
        transition: font-size 0.5s ease-out;
        font-size: 1.5em;
      }

      p {
        transition: font-size 0.5s ease-out;
        font-size: 14px;
      }
    }

    .motd-container {
      min-width: 400px;

      .select:hover {
        cursor: pointer;
      }

      .motd-header {
        display: flex;
        flex-direction: row;

        justify-content: space-between;
      }

      padding: 16px;

      border-radius: 6px;

      .motd-subtitle {
        font-size: 14px;
        font-weight: 300;
      }
    }
  }
}
