.container {
  .project-details {
    .project-links {
      list-style-type: none;

      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-top: 2rem;

      li {
        padding: 0 8px;
        font-size: 16px;
        text-decoration: underline;
      }
    }
  }
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  .container {
    .project-details {
      margin-left: 1rem;
      margin-right: 1rem;
    }

    .projects-container {
      margin-left: 1rem;
      margin-right: 1rem;
    }
  }
}

